<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "avatar.jpeg" %>
	</div>

	<div id="content">
		<h1>Hello, I'm Vyacheslav Rarata</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum optio repellat in expedita, explicabo quos, repellendus sit perspiciatis? Voluptates odit possimus magni deserunt nisi perferendis autem unde asperiores sit, mollitia culpa nam et, quo veniam perspiciatis, qui ullam. Magnam sunt explicabo, odit! Sed dolorum ex autem amet.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure qui magnam consequuntur facere commodi pariatur rem quia culpa aliquid repudiandae sint quasi voluptatibus ratione voluptate dolorem assumenda iusto, nobis perferendis dolore sunt <a href="https://github.com/VyacheslavRarata">my git</a>.</p>
	</div>
</div>
